@model CandyListViewModel
@{
    var imagePath = @"/Images/thumbnails/";
}

<div class="container-fluid">
    <h2 style="text-align:center;">All Candy</h2>
    <div class="row">
        <div class="col-md-1">
            <a asp-controller="Candy" asp-action="Create" class="btn btn-success" title="Add"><i class="fa-solid fa-circle-plus"></i>&nbsp;Add product</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Image</th>
                    <th scope="col" class="text-center">
                        <a asp-action="AdminList" asp-route-sortOrder="@ViewBag.NameSortParam">Candy Name</a>
                        </th>
                    <th scope="col" class="text-center">
                    <a asp-action="AdminList" asp-route-sortOrder="@ViewBag.CategorySortParam">Category</a>
                    </th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col" class="text-center">
                        <a asp-action="AdminList" asp-route-sortOrder="@ViewBag.StockSortParam">Stock</a>
                    </th>
                    <th scope="col" class="text-center">
                        <a asp-action="AdminList" asp-route-sortOrder="@ViewBag.PriceSortParam">Price</a>
                    </th>
                    <th scope="col" class="text-center">Campaign</th>
                    <th scope="col" class="text-center">
                        <a asp-action="AdminList" asp-route-sortOrder="@ViewBag.DiscountSortParam">Discount</a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var candy in Model.Candies)
                {
                    <tr class="text-center">
                        @if (candy.ImageThumbnailUrl != null)
                        {
                            <td class="fit-to-image" style="background-image: url('@imagePath@candy.ImageThumbnailUrl');"></td>
                        }
                        else
                        {
                            <td class="fit-to-image" style="background-image: url('/Images/thumbnails/miniJinn.png');"></td>
                        }
                        <td>@candy.Name</td>
                        <td>@candy.Category.CategoryName</td>
                        <td>
                            @if (candy.StockAmount > 20)
                            {
                                <div>On sale</div>
                            }
                            else if (candy.StockAmount < 20 && candy.StockAmount > 1)
                            {
                                <div>Low in stock</div>
                            }
                            else
                            {
                                <div>Out of stock</div>
                            }
                        </td>
                        <td>@candy.StockAmount</td>
                        <td>@candy.Price.ToString("c")</td>
                        @if (candy.IsOnSale)
                        {
                            <td>@candy.Discount.Name</td>
                            <td>@candy.Discount.Percentage%</td>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                        }
                        <td class="float-right">
                            <a class="btn btn-sm btn-warning" asp-controller="Candy" asp-action="Edit" asp-route-id="@candy.CandyId" title="Edit"><i class="fa-solid fa-pen"></i></a>
                            <a class="btn btn-sm btn-danger" asp-controller="Candy" asp-action="Delete" asp-route-id="@candy.CandyId" title="Delete"><i class="fa-regular fa-trash-can"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


