@model CandyListViewModel
@{
    var imagePath = @"/Images/thumbnails/";
}

<div class="container-fluid">    
    <div class="row">
        <div class="col-sm-2">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width:150px;" title="Order by">
                Order by
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a asp-action="AdminList" asp-route-sortOrder="@ViewBag.NameSortParam">Candy Name</a></li>
                <li><a asp-action="AdminList" asp-route-sortOrder="@ViewBag.CategorySortParam">Category</a></li>
                <li><a asp-action="AdminList" asp-route-sortOrder="@ViewBag.PriceSortParam">Price</a></li>
                <li><a asp-action="AdminList" asp-route-sortOrder="@ViewBag.StockSortParam">Stock</a></li>
            </ul>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width:150px; title="Show"">
                Show
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a asp-action="AdminList" asp-route-sortOrder="@ViewBag.DiscountSortParam">Candy on Discount</a></li>
                <li><a asp-action="AdminList">All Candy</a></li>
            </ul>
        </div>
        <div class="col-sm-2">
            <a asp-controller="Candy" asp-action="Create" class="btn btn-success" title="Add" style="width:150px;"><i class="fa-solid fa-circle-plus"></i>&nbsp;Add product</a>
        </div>
    </div>
   
    <h2 style="text-align:left; padding-bottom:5px;">@Model.CurrentCategory</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Image</th>
                    <th scope="col" class="text-center">Candy Name</th>
                    <th scope="col" class="text-center">Category</th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col" class="text-center">Stock</th>
                    <th scope="col" class="text-center">Price </th>
                    <th scope="col" class="text-center">Campaign</th>
                    <th scope="col" class="text-center">Discount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var candy in Model.Candies)
                {
                    <tr class="text-center">
                        @if (candy.ImageThumbnailUrl != null)
                        {
                            <td class="fit-to-image" style="background-image: url('@imagePath@candy.ImageThumbnailUrl');"></td>
                        }
                        else
                        {
                            <td class="fit-to-image" style="background-image: url('/Images/thumbnails/miniJinn.png');"></td>
                        }
                        <td>@candy.Name</td>
                        <td>@candy.Category.CategoryName</td>
                        <td>
                            @if (candy.StockAmount >= 20)
                            {
                                <div>On sale</div>
                            }
                            else if (candy.StockAmount < 20 && candy.StockAmount >= 1)
                            {
                                <div class="label-warning">Low in stock</div>
                            }
                            else
                            {
                                <div class="label-danger">Out of stock</div>
                            }
                        </td>
                        <td>@candy.StockAmount</td>
                        <td>@candy.Price.ToString("c")</td>
                        @if (candy.IsOnSale)
                        {
                            <td>@candy.Discount.Name</td>
                            <td>@candy.Discount.Percentage%</td>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                        }
                        <td class="float-right">
                            <a class="btn btn-sm btn-warning" asp-controller="Candy" asp-action="Edit" asp-route-id="@candy.CandyId" title="Edit"><i class="fa-solid fa-pen"></i></a>
                            <a class="btn btn-sm btn-danger" asp-controller="Candy" asp-action="Delete" asp-route-id="@candy.CandyId" title="Delete"><i class="fa-regular fa-trash-can"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


