@model Order

<h2>Thank you for your order!</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Selected Amount</th>
            <th>Candy</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td class="text-left">@item.Amount</td>
                <td class="text-left">@item.Candy.Name</td>
                <td class="text-right">@item.Price</td>
                <td class="text-right">
                    @((item.Amount * item.Price).ToString("c"))
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total</td>
            <td class="text-right">@Model.OrderTotal.ToString("c")</td>
        </tr>
        @if (Model.OrderDiscount > 0)
        {
            <tr>
                <td colspan="3" class="text-right text-success">Congratulations! You Just Saved: </td>
                <td class="text-right text-danger">@Model.OrderDiscount.ToString("c")</td>
            </tr>
        }

    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
</div>

<br />
<br />
<br />
<center>
    <marquee behavior="scroll" direction="right">
        <img src="~/Images/PixelTruck.png" width="100" height="100">
    </marquee> 
    <hr style="background-color:black; color:black; border-color:transparent " >
</center>




