@model Order

<h2>Thank you for your order!</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Selected Amount</th>
            <th>Candy</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td class="text-center">@item.Amount</td>
                <td class="text-left">@item.Candy.Name</td>
                <td class="text-right">@item.Candy.Price.ToString("c")</td>
                <td class="text-right">
                    @((item.Amount * item.Candy.Price).ToString("c"))
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" class="text-right">Total</td>
            <td class="text-right">@Model.OrderTotal.ToString("c")</td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-primary" asp-controller="Admin" asp-action="OrderManagement">Order List</a>
    }
    else
    {
        <a class="btn btn-primary" asp-controller="Order" asp-action="OrderHistory">Back to orders</a>
    }
</div>





