@model IEnumerable<Order>
<h1>Order History</h1>
<table class="table table-striped">
    <th scope="col">Order ID</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Adress</th>
    <th scope="col">City</th>
    <th scope="col">Order Date</th>
    <th scope="col">Order Total</th>
    <th scope="col">Order Details</th>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model)
            {
                <tr/>
                <td>@item.OrderId</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Address</td>
                <td>@item.City</td> 
                <td>@item.OrderPlaced</td>
                <td>@item.OrderTotal</td>
                <td><button type="button" class="btn btn-primary"> Details</button></td>
            }
        </tr>
    </tbody>
</table>

