@model ShoppingCartViewModel

<h2>Shopping Cart: All your candy you love</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Selected Amount</th>
            <th>Candy</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                <td class="text-left">
                    <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="removefromshoppingcart" asp-route-candyid="@item.Candy.CandyId">-</a>
                    @item.Amount
                    <a class="btn btn-primary" asp-controller="shoppingcart" asp-action="addtoshoppingcart" asp-route-candyid=@item.Candy.CandyId>+</a>
                </td>
                <td class="text-center">@item.Amount</td>
                <td class="text-left">@item.Candy.Name</td>
                <td class="text-right">@item.Candy.Price.ToString("c")</td>
                <td class="text-right">
                    @((item.Amount * item.Candy.Price).ToString("c"))
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" class="text-right">Total</td>
            <td class="text-right">@Model.ShoppingCartTotal.ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="ClearCart">Clear Cart</a>
    <a class="btn btn-primary" asp-controller="Order" asp-action="CheckOut">Checkout</a>
</div>




