@model ShoppingCartViewModel

<h2>Shopping Cart: Your items</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Selected Amount</th>
            <th>Candy</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                <td class="text-left">
                    <a class="btn btn-secondary" style="background-color: #FB6560 !important; margin-right: 10px;" asp-controller="ShoppingCart" asp-action="removefromshoppingcart" asp-route-candyid="@item.Candy.CandyId">-</a>
                    @item.Amount
                    @if (item.Candy.StockAmount > item.Amount)
                    {
                        <a class="btn btn-secondary" style="background-color: #74F791 !important; margin-left: 10px;" asp-controller="shoppingcart" asp-action="addtoshoppingcart" asp-route-candyid=@item.Candy.CandyId>+</a>
                    }

                </td>
                <td class="text-left">@item.Candy.Name</td>
                @if (item.Candy.IsOnSale)
                {
                    <td class="text-right"><span style="text-decoration:line-through; margin-right: 2rem; font-size:90%;">@item.Candy.Price.ToString("c")</span>@item.Candy.GetDiscountPrice()</td>
                    <td class="text-right">
                        @((item.Amount * item.Candy.GetDiscountPrice()).ToString("c"))
                    </td>
                }
                else
                {
                    <td class="text-right">@item.Candy.Price.ToString("c")</td>
                    <td class="text-right">
                        @((item.Amount * item.Candy.Price).ToString("c"))
                    </td>
                }
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total</td>
            <td class="text-right">@Model.ShoppingCartTotal.ToString("c")</td>
        </tr>
        @if(Model.CouponCode != null)
            {
                <tr>
                    <td colspan="3" class="text-right">Coupon-Code is Activated!</td>
                    <td class="text-right text-success">"@Model.CouponCode.Code"</td>
                </tr>
            }
        @if (Model.ShoppingCartDiscount > 0)
        {
            <tr>
                <td colspan="3" class="text-right">Discount</td>
                <td class="text-right text-danger">- @Model.ShoppingCartDiscount.ToString("c")</td>
            </tr>
        }

    </tfoot>
</table>

<div class="text-right">
    <input type="text" id="codeInput" />
    <button type="button" class="btn btn-primary" onclick="addCouponCode()">Add Coupon-Code</button>
</div>
<div class="text-center">
    <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="ClearCart">Clear Cart</a>
    <a class="btn btn-primary" asp-controller="Order" asp-action="CheckOut">Checkout</a>
</div>

<script>

    function addCouponCode() {
        var input = document.getElementById("codeInput").value;
        if (input.length > 1) {
            window.location.href = '@Url.Action("AddCouponCode", "ShoppingCart")' + '?codeInput=' + input;
        }
    }
</script>



